<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Candidate Attendance</title>

        <!-- COMMON LINKS  -->
        <%- include('../common/common-links.ejs')%>
        <!-- <link href="/assets/css/attendance-page.css" rel="stylesheet" /> -->
        <!-- COMMON SCRIPTS -->
        <%- include('../common/common-scripts.ejs')%>

        <style>
            /* by default toggle content is not visible */
            .toggle-content {
                display: none;
            }
        </style>

        <script>
            let _session =  <%- JSON.stringify(session) %>;
        </script>

        <script
            src="/assets/js/candidate/candidate-attendance-handler.js"
            type="module"
            defer></script>
    </head>
    <body>
        <%- include('../components/check-connection-modal.ejs')%>
        <div class="wrapper relative" style="display: none">
            <!-- navbar -->
            <%- include('../components/navbar.ejs') %>

            <!-- view profile modal -->

            <!-- <%- include('./view-profile-modal.ejs') %> -->

            <!-- ===================================CANDIDATE=================================== -->
            <!-- candidate -->

            <div class="container mx-auto">
                <!-- New working -->
                <div class="details-container mt-4 toggle-content">
                    <div class="grid grid-cols-5 gap-4">
                        <!-- Left  of grid -->
                        <div class="col-span-3">
                            <div class="flex flex-col gap-4">
                                <h3 class="text-center font-semibold text-[#555]">
                                    Candidate Details
                                </h3>
                                <div class="candidate-info">
                                    <div
                                        class="grid grid-cols-3 col-span-3 gap-3 shadow-md p-6 rounded-[2rem]">
                                        <div class="col-span-2 flex items-center gap-3">
                                            <i
                                                class="fa-solid fa-user text-3xl text-[#43A7FF] text-xl"></i>
                                            <div>
                                                <div
                                                    class="label font-semibold text-[#555] text-md">
                                                    Name
                                                </div>
                                                <div
                                                    class="value font-semibold text-lg text-[#43A7FF]"
                                                    id="name">
                                                    Omkar Popat Patole
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex items-center gap-3">
                                            <i
                                                class="fa-solid fa-calendar-days text-xl text-[#43A7FF]"></i>
                                            <div>
                                                <div
                                                    class="label font-semibold text-[#555] text-md">
                                                    DOB
                                                </div>
                                                <div
                                                    class="value font-semibold text-lg text-[#43A7FF]"
                                                    id="dob">
                                                    01-07-1999
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex items-center gap-3">
                                            <i
                                                class="fa-solid fa-layer-group text-xl text-[#43A7FF]"></i>
                                            <div>
                                                <div
                                                    class="label font-semibold text-[#555] text-md">
                                                    Exam Date
                                                </div>
                                                <div
                                                    class="value font-semibold text-lg text-[#43A7FF]"
                                                    id="exam-date">
                                                    10-10-2024
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex items-center gap-3">
                                            <i
                                                class="fa-solid fa-layer-group text-xl text-[#43A7FF]"></i>
                                            <div>
                                                <div
                                                    class="label font-semibold text-[#555] text-md">
                                                    Exam Time
                                                </div>
                                                <div
                                                    class="value font-semibold text-lg text-[#43A7FF]"
                                                    id="exam-date">
                                                    10:00 AM - 12:00 PM
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex items-center gap-3">
                                            <i
                                                class="fa-solid fa-layer-group text-xl text-[#43A7FF]"></i>
                                            <div>
                                                <div
                                                    class="label font-semibold text-[#555] text-md">
                                                    Batch
                                                </div>
                                                <div
                                                    class="value font-semibold text-lg text-[#43A7FF]"
                                                    id="batch">
                                                    Batch - <span class="text-[#F77935]">01</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex items-center gap-3">
                                            <i
                                                class="fa-solid fa-id-card-clip text-xl text-[#43A7FF]"></i>
                                            <div>
                                                <div
                                                    class="label font-semibold text-[#555] text-md">
                                                    User Id
                                                </div>
                                                <div
                                                    class="value font-semibold text-lg text-[#43A7FF]"
                                                    id="username">
                                                    1010001
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex items-center gap-3">
                                            <i
                                                class="fa-solid fa-id-card text-xl text-[#43A7FF]"></i>
                                            <div>
                                                <div
                                                    class="label font-semibold text-[#555] text-md">
                                                    Application No.
                                                </div>
                                                <div
                                                    class="value font-semibold text-lg text-[#43A7FF]"
                                                    id="application-number">
                                                    500001
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex items-center gap-3">
                                            <i
                                                class="fa-solid fa-id-card text-xl text-[#43A7FF]"></i>
                                            <div>
                                                <div
                                                    class="label font-semibold text-[#555] text-md">
                                                    Post
                                                </div>
                                                <div
                                                    class="value font-semibold text-lg text-[#43A7FF]"
                                                    id="post">
                                                    Jr. Clerk
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-span-2">
                            <div class="flex flex-col gap-4">
                                <h3 class="text-center font-semibold text-[#555]">
                                    Attendance Details
                                </h3>

                                <div class="attendance-details grow">
                                    <div class="flex flex-col justify-between gap-1">
                                        <!-- Upper box for total count -->
                                        <div id="allbatches-count">
                                            <div class="flex items-center justify-between gap-2">
                                                <div
                                                    class="bg-[#fff] shadow-md p-4 rounded-[2rem] flex flex-col justify-center">
                                                    <div class="flex items-end gap-2">
                                                        <p
                                                            class="value text-4xl text-[#43A7FF]"
                                                            id="total-alloted">
                                                            500
                                                        </p>
                                                        <i
                                                            class="fa-solid fa-users mb-1 text-[#43A7FF]"></i>
                                                    </div>
                                                    <div
                                                        class="label total-status text-md text-[#555] font-semibold">
                                                        Total Alloted
                                                    </div>
                                                </div>

                                                <div
                                                    class="bg-[#fff] shadow-md p-4 rounded-[2rem] flex flex-col justify-center">
                                                    <div class="flex items-end gap-2">
                                                        <p
                                                            class="value text-4xl text-[#43A7FF]"
                                                            id="total-present">
                                                            70
                                                        </p>
                                                        <i
                                                            class="fa-solid fa-user-check mb-1 text-[#43A7FF]"></i>
                                                    </div>
                                                    <div
                                                        class="label total-status text-md text-[#555] font-semibold">
                                                        Total Present
                                                    </div>
                                                </div>

                                                <div
                                                    class="bg-[#fff] shadow-md p-4 rounded-[2rem] flex flex-col justify-center">
                                                    <div class="flex items-end gap-2">
                                                        <p
                                                            class="value text-4xl text-[#F77935]"
                                                            id="total-absent">
                                                            30
                                                        </p>
                                                        <i
                                                            class="fa-solid fa-user-xmark mb-1 text-[#F77935]"></i>
                                                    </div>
                                                    <div
                                                        class="label total-status text-md text-[#555] font-semibold">
                                                        Total Absent
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="value text-center font-semibold text-lg text-[#43A7FF]"
                                            id="">
                                            Batch -
                                            <span id="batch-number" class="text-[#F77935]">01</span>
                                        </div>

                                        <!-- Lower box for batch -->
                                        <div id="batchwise-count">
                                            <div class="flex items-center justify-between gap-2">
                                                <div
                                                    class="bg-[#fff] shadow-md p-4 rounded-[2rem] flex flex-col justify-center">
                                                    <div class="flex items-end gap-2">
                                                        <p
                                                            class="value text-4xl text-[#43A7FF]"
                                                            id="batch-alloted">
                                                            500
                                                        </p>
                                                        <i
                                                            class="fa-solid fa-users mb-1 text-[#43A7FF]"></i>
                                                    </div>
                                                    <div
                                                        class="label total-status text-md text-[#555] font-semibold">
                                                        Total Alloted
                                                    </div>
                                                </div>

                                                <div
                                                    class="bg-[#fff] shadow-md p-4 rounded-[2rem] flex flex-col justify-center">
                                                    <div class="flex items-end gap-2">
                                                        <p
                                                            class="value text-4xl text-[#43A7FF]"
                                                            id="batch-present">
                                                            70
                                                        </p>
                                                        <i
                                                            class="fa-solid fa-user-check mb-1 text-[#43A7FF]"></i>
                                                    </div>
                                                    <div
                                                        class="label total-status text-md text-[#555] font-semibold">
                                                        Total Present
                                                    </div>
                                                </div>

                                                <div
                                                    class="bg-[#fff] shadow-md p-4 rounded-[2rem] flex flex-col justify-center">
                                                    <div class="flex items-end gap-2">
                                                        <p
                                                            class="value text-4xl text-[#F77935]"
                                                            id="batch-absent">
                                                            30
                                                        </p>
                                                        <i
                                                            class="fa-solid fa-user-xmark mb-1 text-[#F77935]"></i>
                                                    </div>
                                                    <div
                                                        class="label total-status text-md text-[#555] font-semibold">
                                                        Total Absent
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ===================================PHOTOS=================================== -->

            <!-- photos container -->
            <div class="container mx-auto mt-6">
                <div id="image-capture-container" class="toggle-content">
                    <div class="grid grid-cols-2 gap-6">
                        <div
                            id="already-uploaded-container"
                            class="photos-container shadow-lg rounded-[2rem] flex items-center justify-center gap-2">
                            <!--ALREADY UPLOADED IMAGE HERE -->
                            <div
                                class="profile-holder w-[200px] h-[240px] rounded-xl overflow-hidden">
                                <img
                                    id="student-image"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT1VXMNeeciRYb7TRT63rJuWuzTfwllvct3Q&s"
                                    onerror="this.src='/assets/images/faceless-man.jpg'"
                                    class="w-full h-full" />
                            </div>
                            <!-- ALREADY UPLOADED SIGN HERE -->
                            <div
                                class="sign-holder w-[17rem] h-[6rem] border rounded-xl overflow-hidden">
                                <img
                                    id="student-sign"
                                    src="https://www.shutterstock.com/image-vector/fake-autograph-samples-handdrawn-signatures-600nw-2325821623.jpg"
                                    onerror="this.src='https://www.shutterstock.com/image-vector/fake-autograph-samples-handdrawn-signatures-600nw-2325821623.jpg'"
                                    class="w-full h-full" />
                            </div>
                        </div>

                        <div id="capturing-image-container">
                            <div
                                class="photos-container shadow-lg p-5 rounded-[2rem] flex items-center justify-center">
                                <div class="camera-container grid grid-cols-2 items-center gap-6">
                                    <div id="video-container" class="video-snap-container">
                                        <div id="snapshot-div" style="display: none">
                                            <div id="captured-image" class="w-[200px] h-[240px]">
                                                <img
                                                    id="cropped-image"
                                                    class="w-full h-full"
                                                    alt="Captured cropped image" />
                                            </div>
                                        </div>

                                        <video id="video" autoplay style="display: none"></video>
                                        <canvas id="crop-preview"></canvas>
                                    </div>

                                    <div id="lab-pc-status-container" style="display: none">
                                        <div class="info-container">
                                            <div class="label">Hall No:</div>
                                            <div class="value text-primary" id="lab-number">
                                                343
                                            </div>
                                        </div>

                                        <div class="info-container">
                                            <div class="label">Seat No:</div>
                                            <div class="value text-primary" id="pc-number">
                                                3424343
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center camera-buttons flex flex-col gap-4">
                                        <button
                                            type="button"
                                            class="px-8 py-4 border border-transparent text-lg font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                                            id="take-snap-btn">
                                            Take Snap
                                        </button>

                                        <button
                                            type="button"
                                            id="reset-btn"
                                            class="px-8 py-4 border border-transparent text-lg font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mx-auto">
                <div class="status-buttons toggle-content">
                    <div class="w-full flex justify-center gap-6 mt-6">
                        <button
                            type="button"
                            id="mark-present-btn"
                            class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Mark Present
                        </button>

                        <button
                            type="button"
                            id="reject-btn"
                            class="hidden items-center px-6 py-3 border border-transparent text-base font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Reject
                        </button>

                        <button
                            type="button"
                            id="reset-page-btn"
                            class="inline-flex items-center px-6 py-3 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Reset Page
                        </button>
                    </div>
                </div>
            </div>

            <!-- LOADERS AND OTHERS -->
            <div id="loader-container">
                <svg
                    class="ip"
                    viewBox="0 0 256 128"
                    width="256px"
                    height="128px"
                    xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                            <stop offset="0%" stop-color="#5ebd3e" />
                            <stop offset="33%" stop-color="#ffb900" />
                            <stop offset="67%" stop-color="#f78200" />
                            <stop offset="100%" stop-color="#e23838" />
                        </linearGradient>
                        <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
                            <stop offset="0%" stop-color="#e23838" />
                            <stop offset="33%" stop-color="#973999" />
                            <stop offset="67%" stop-color="#009cdf" />
                            <stop offset="100%" stop-color="#5ebd3e" />
                        </linearGradient>
                    </defs>
                    <g fill="none" stroke-linecap="round" stroke-width="16">
                        <g class="ip__track" stroke="#ddd">
                            <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56" />
                            <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64" />
                        </g>
                        <g stroke-dasharray="180 656">
                            <path
                                class="ip__worm1"
                                stroke="url(#grad1)"
                                stroke-dashoffset="0"
                                d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56" />
                            <path
                                class="ip__worm2"
                                stroke="url(#grad2)"
                                stroke-dashoffset="358"
                                d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64" />
                        </g>
                    </g>
                </svg>
            </div>

            <div id="initial-text" class="text-white">
                <h1>Enter Candidate Id To Search</h1>
            </div>
        </div>
    </body>
</html>
